<body>
<div class="card">
    <div class="card-body">
        <h3 class="card-title text-center mb-4">Customer Signup</h3>
        <form id="customerSignupForm" (ngSubmit)="onSignupCustomer()">
            <div class="mb-3">
                <label for="fullName" class="form-label">Full Name</label>
                <input type="text" class="form-control" [(ngModel)]="customer.FullName" id="FullName" name="FullName" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" [(ngModel)]="customer.Email" id="Email" name="Email" required>
            </div>
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="tel" class="form-control"  [(ngModel)]="customer.PhoneNumber" id="PhoneNumber" name="PhoneNumber" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control"  [(ngModel)]="customer.Password" id="Password" name="Password" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" [(ngModel)]="customer.ConfirmPassword" id="ConfirmPassword" name="ConfirmPassword" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
            <p class="text-center mt-3">Already have an account? <a [routerLink]="['/login']">Login</a></p>
        </form>
    </div>
</div>
</body>