<div class="content">
    <h2>Mehndi Designs</h2>
    <div class="card">
        <div class="card-header">
            <h3>Add New Design</h3>
        </div>
        <div class="card-body">
            <form (submit)="onSubmitDesignForm($event)" id="MehndiDesignForm">
                <div class="mb-3">
                  <label for="designName" class="form-label">Design Name</label>
                  <input type="text" class="form-control" id="designName" name="designName" [(ngModel)]="designFormData.designName" placeholder="Enter design name" required>
                </div>
                <div class="mb-3">
                  <label for="designDescription" class="form-label">Design Description</label>
                  <textarea class="form-control" id="designDescription" name="designDescription" rows="3" placeholder="Enter design description" [(ngModel)]="designFormData.designDescription" required></textarea>
                </div>
                <div class="mb-3"  *ngIf="isEditMode">
                    <label for="designDescription" class="form-label">Design Description</label>
                    <img [src]="this.baseUrl+designFormData.designImageName" alt="{{designFormData.designName}}" class="design-image" width="200" height="200">                   
                  </div>
                <div class="mb-3">
                  <label for="designImage" class="form-label">Design Image</label>
                  <input type="file" class="form-control" id="designImage" accept="image/*" (change)="onFileSelected($event)" [required]="!isEditMode">
                </div>
                <button type="submit" class="btn btn-primary w-100">{{ isEditMode ? 'Update Design' : 'Add Design' }}</button>
              </form>              
        </div>
    </div>
    <h3 class="mt-4">Existing Designs</h3>
    <div class="card">
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let design of designs">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <img [src]="design.imagePath" alt="{{design.designName}}" class="design-image" width="200" height="200">
                            <h5>{{design.designName}}</h5>
                            <p>{{design.designDescription}}</p>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-sm" (click)="onEditDesign(design)">Edit</button>
                            <button class="btn btn-danger btn-sm" (click)="onDeleteDesign(design.designID)">Delete</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>