#home {
    padding-top: 20px;
  }

  .card {
    margin-bottom: 20px;
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .card-text {
    font-size: 0.9rem;
  }

  .card-img-top {
    height: 200px;
    object-fit: cover;
  }